In [35]:
import pandas as pd
import uuid
import hashlib

In [36]:
data = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'Luis'],
    'email': ['ana@example.com', 'juan@example.com', 'luis@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C']
})

data

  nombre             email ubicacion
0    Ana   ana@example.com  Ciudad A
1   Juan  juan@example.com  Ciudad B
2   Luis  luis@example.com  Ciudad C

In [37]:
# Pseudo nombres
lista_pseudo = []

In [38]:
lista_pseudo.extend(map(lambda _: str(uuid.uuid4()), range(len(data))))

In [39]:
lista_pseudo

['236ff9ad-aed8-499a-9493-26bd726ba8e5',
 '3dc40c16-f04b-4c9b-ae5f-77dbd469c121',
 'dc0f44ef-46fc-4da0-ab1d-c2816bf308c0']

In [40]:
data['Id_Pseudo'] = lista_pseudo
data.drop('nombre', axis=1, inplace=True)
data

              email ubicacion                             Id_Pseudo
0   ana@example.com  Ciudad A  236ff9ad-aed8-499a-9493-26bd726ba8e5
1  juan@example.com  Ciudad B  3dc40c16-f04b-4c9b-ae5f-77dbd469c121
2  luis@example.com  Ciudad C  dc0f44ef-46fc-4da0-ab1d-c2816bf308c0

In [41]:
def hash_data(data):
    return hashlib.sha256(data.encode()).hexdigest()

In [42]:
hash_emails = []

In [43]:
for email in data['email']:
    h_email = hash_data(email)
    hash_emails.append(h_email)
data['email'] = hash_emails

data

,email,ubicacion,Id_Pseudo
0,8e43ca37701228e74983efdbd0cff5c16b3b1e5d4e29a7...,Ciudad A,236ff9ad-aed8-499a-9493-26bd726ba8e5
1,81b562a0fe2aecc8831e2d7c9942f319736afc2a99415e...,Ciudad B,3dc40c16-f04b-4c9b-ae5f-77dbd469c121
2,861d62c5b964e71b42e61aeb4e876f86908a86300b15b2...,Ciudad C,dc0f44ef-46fc-4da0-ab1d-c2816bf308c0

In [46]:
# con comprension de lista
data['email'] = [hash_data(email) for email in data['email']]

In [45]:
data

,email,ubicacion,Id_Pseudo
0,e44266f2ccd8c0c2590119202b1d47835b6b5b08b6d77b...,Ciudad A,236ff9ad-aed8-499a-9493-26bd726ba8e5
1,17d825f83cd20b6cae48b7030b18314ff251e7e436770a...,Ciudad B,3dc40c16-f04b-4c9b-ae5f-77dbd469c121
2,35e695b9f2b575f7660fdb05d27bea36a302810e931d6f...,Ciudad C,dc0f44ef-46fc-4da0-ab1d-c2816bf308c0

In [47]:
tokens = {}

In [48]:
def tokenizar(dato):
    token = str(uuid.uuid4())
    tokens[token] = dato
    return token

In [49]:
def recuperar_dato(token):
    return tokens.get(token, "Token invalido")

In [52]:
# ejemplo de token
dato_og = "231523467"
token1 = tokenizar(dato_og)

In [53]:
token1

'32ab10fb-ecc9-46cb-92d7-ce8dea02aca7'

In [54]:
recuperar_dato(token1)

'231523467'

In [55]:
df = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'Luis'],
    'email': ['ana@example.com', 'juan@example.com', 'luis@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C']
})

def hash_data(data):
    return hashlib.sha256(data.encode()).hexdigest()
    
email_pseudo = []
email_pseudo = [hash_data(email) for email in df['email']]

In [56]:
email_pseudo

['8e43ca37701228e74983efdbd0cff5c16b3b1e5d4e29a7c05626d4d25a018e11',
 '81b562a0fe2aecc8831e2d7c9942f319736afc2a99415e5144712f25a888dd82',
 '861d62c5b964e71b42e61aeb4e876f86908a86300b15b2c26fe4f33ab88e03ad']